.register-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px; /* Updated width for a more spacious layout */
  margin: 3rem auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #00796b; /* Consistent teal branding */
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-size: 1rem;
  color: #333;
  text-align: left;
  display: block;
}

input {
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; /* Ensure inputs align with container */
  transition: border-color 0.3s ease;
}

  input:focus {
    border-color: #00796b;
    outline: none;
  }

button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

  button:hover {
    background-color: #004d40;
  }

  button:disabled {
    background-color: #b0bec5; /* A grayish color to indicate disabled state */
    cursor: not-allowed; /* Show a "not allowed" cursor */
    opacity: 0.6; /* Make it slightly transparent */
  }

/* Error and Success messages */
.error-message {
  color: #e01a76; /* Consistent error message color */
  font-size: 0.9rem;
  margin-top: -0.75rem;
}

.success-message {
  color: #4caf50; /* Green for success */
  font-size: 0.9rem;
  margin-top: -0.75rem;
}

@media (max-width: 768px) {
  .register-container {
    width: 90%;
  }
}

.currency-symbol {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #333;
}

.currency-input {
  padding-left: 1.5rem; /* Adjust padding to make space for currency symbol */
}

.input-group {
  position: relative;
}

.info-icon {
  display: inline-block;
  margin-left: 5px;
  color: #00796b;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

  .info-icon:hover::after {
    content: attr(title);
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 5px;
    background-color: #f9f9f9;
    color: #333;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.875rem;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: normal;
    z-index: 1;
  }

  .info-icon:hover::before {
    content: '';
    position: absolute;
    left: 10px;
    top: calc(100% - 5px);
    margin-top: 0;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
    z-index: 1;
  }
