<div class="login-container">
  <!-- Error and Success messages at the top -->
  <div *ngIf="errorMessages.length > 0" class="error-message">
    <ul>
      <li *ngFor="let message of errorMessages">{{ message }}</li>
    </ul>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input id="email" [formControlName]="'email'" name="email" required />

    <label for="password">Password:</label>
    <input id="password" [formControlName]="'password'" type="password" name="password" required />

    <button type="submit">Login</button>
  </form>

  <button (click)="onForgotPassword()">Forgot Password?</button>
  <button (click)="onResetPassword()">Reset Password</button>

