<div class="login-container">
  <!-- Error and Success messages at the top -->
  <div *ngIf="errorMessages.length > 0" class="error-message">
    <ul>
      <li *ngFor="let message of errorMessages">{{ message }}</li>
    </ul>
  </div>

  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="email" name="email" required />
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" [(ngModel)]="password" type="password" name="password" required />
    </div>

    <button type="submit">Login</button>

    <!-- Registration Button -->
    <button class="register-button" (click)="onRegister()">Register</button>
  </form>
</div>
