{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost\\sqlexpress;Database=BadHabitAppDb;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True"
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Issuer": "localhost",
    "Key": "<Create a long key here>",
    "Audience": "localhost",
    "ExpiryMinutes": 60
  }
}