<div>
  <h2>Habit Tracker</h2>
  <form (ngSubmit)="addHabit()">
    <div>
      <label>Name:</label>
      <input type="text" [(ngModel)]="newHabit.name" name="name" required>
    </div>
    <div>
      <label>Description:</label>
      <input type="text" [(ngModel)]="newHabit.description" name="description">
    </div>
    <div>
      <label>Start Date:</label>
      <input type="date" [(ngModel)]="newHabit.startDate" name="startDate">
    </div>
    <button type="submit">Add Habit</button>
  </form>

  <h3>Your Habits</h3>
  <ul>
    <li *ngFor="let habit of habits">
      {{ habit.name }} - {{ habit.description }} (Started: {{ habit.startDate | date }})
    </li>
  </ul>
</div>
